@import "tailwindcss";

@theme {
  --font-poppins: "Poppins";
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-50
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}